:root{
    --background-error: #F54748;
    --background-success: #4AA96C;
    --color-white: #fff;
    --color-accent: #c59090;
    --color-primary: #47597E;
    --color-primary-hover: #5c477e;
    --color-primary-dark: #293B5F;
    --color-primary-dark-hover: #47597E;


}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



body{
    font-family: 'Lucida Grande','Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* !!------------------------------------------Login page */

.container-custom{
    display: flex;
    height: 100vh;
}
.cover-custom{
    width: 50%;
}
.content-custom{
    width: 50%;
}

.bicycle{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 60%;
    margin-inline: auto;

}

/* !!------------------------------------------Register page */
.register-form-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 80vh;
    margin-inline: auto;
}


.forgot-password-form-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 70vh;
    margin-inline: auto;
}






/** right half of the webpage */
.login-content{
    width: 50%;
	display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
}

.avatar-img{
    width: 6rem;
    margin: auto;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}


.custom-line-control{
    display: flex;
    justify-content: space-between;
}

/** bootstrap class add ons */
.card{
    padding: 2rem;
}

.btn-primary-custom{
    background: var(--color-primary-dark);
    color: var(--color-white);
    transition: .5s;
}

.btn-primary-custom:hover{
    background: var(--color-primary-dark-hover);
    color: var(--color-white);
}

/** custom class */
.alert-danger-custom{

    color: var(--background-error);
}

.alert-success-custom{
    color: var(--background-success);
}

.h-100-custom{
    height: 100vh;
}

.nav-item-custom{
    margin: auto;
    list-style: none;
    text-decoration: none;
}
.nav-item-custom a{
    color: black;
}

.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
}

/** animations */

.loader.hidden{
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.form-control{
    border: 1px solid;
    border-radius: 0;
    border-color: rgba(207, 207, 207, 0.733);
    padding: .5rem;
    height: 2.6rem;
}

.form-control:focus{
    box-shadow: none;
    border-color: black;
}



/** responsiveness  */

/* @media screen and (max-width: 900px){
	.bicycle{
		display: none;
	}
	.login-content{
        width: 100%;
        margin: auto;
		justify-content: center;
	}
    .card{
        width: 50%;
    }
} */

@media screen and (max-width:870px) {
    .cover-custom{
        width: 40%;
    }
    .content-custom{
        width: 60%;
    }

    .login-form-custom{
        width: 80%;


    }
}
@media screen and (max-width: 650px){
    .cover-custom{
        display: none;
    }
    .content-custom{
        width: 100%;
    }
}


@media screen and (max-width: 1350px){
	.custom-line-control{
        flex-direction: column;
    }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
